---
layout: default
---
<article id="main">
<center>
<div class="image"><img src="images/futureLegendMitch.jpg" alt="The future Legends image by Sean Allum. The face of Kalki avatar has been replace with an image of Mitch that has been deep dreamed into the style of the image." /></div></center>
<div class="content">
  <header>
    <h2>{{ page.title }}</h2>

    
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {% include header.html %}
      {{ content }}
       
    </div>
  </section>

</article>
